@model BlogEditViewModel

<div class="container">
    <form asp-controller="Blog"
          asp-action="Edit"
          asp-area="@GlobalConstants.AdminArea"
          method="post">
        @Html.AntiForgeryToken()

        <input asp-for="Id" type="hidden" value="@Model.Id" />
        <div class="form-group">
            <label asp-for="Title"></label>
            <input type="text" asp-for="Title" value="@Model.Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Summary"></label>
            <input type="text" asp-for="Summary" value="@Model.Summary" class="form-control" />
            <span asp-validation-for="Summary" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="Description"></label>
            <textarea asp-for="Description" value="@Model.Description" class="form-control tinymce-textarea"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@section scripts{
    <environment names="Development">
        <script src="~/js/tinymce.min.js"></script>
        <script src="~/js/custom/blog.js"></script>
    </environment>

    <environment names="Staging, Production">
        <script src="~/js/custom/min/site.min.js"></script>
    </environment>

    <script>
        app.blog.init();
    </script>
}