@using A4CoreBlog.Data.Infrastructure

@model PaginatedList<AdminListImageViewModel>

<div class="row text-center">
    <div class="col-md-12 padding-10">
        <a asp-action="Create" asp-controller="Image" asp-area="@GlobalConstants.AdminArea" class="btn btn-primary">Add new image</a>
    </div>

    <div class="col-md-12">
        @await Component.InvokeAsync(nameof(PaginatedListControllsComponent), new
           {
               @area = GlobalConstants.AdminArea,
               list = new BasePaginatedList
               {
                   Action = "Index",
                   Controller = "Image",
                   PageIndex = Model.PageIndex,
                   TotalPages = Model.TotalPages
               }
           })
    </div>

    @if (Model.Count() > 0)
    {
        <div class="col-md-12 row padding-10">
            @foreach (var img in Model)
            {
                // add cell for each image
                <div class="col-md-4 col-lg-3 col-sm-6 padding-10">
                    <div class="padding-10 border-box-shadow">
                        <div>@img.Title</div>
                        <div>
                            Link:
                            <a target="_blank"
                               href="@Url.Action("Content", "Images", new { @area = GlobalConstants.APIArea, id = img.Id })">
                                @Url.Action("Content", "Images", new { @area = GlobalConstants.APIArea, id = img.Id })
                            </a>
                        </div>
                        <div>Id : @img.Id</div>
                        <img class="img-fluid grid-image"
                             src="@Url.Action("Content", "Images", new { @area = GlobalConstants.APIArea, id = img.Id })"
                             alt="@img.Alt" />
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <h1>No images still added to site...</h1>
    }

    <div class="col-md-12">
        @await Component.InvokeAsync(nameof(PaginatedListControllsComponent), new
           {
               @area = GlobalConstants.AdminArea,
               list = new BasePaginatedList
               {
                   Action = "Index",
                   Controller = "Image",
                   PageIndex = Model.PageIndex,
                   TotalPages = Model.TotalPages
               }
           })
    </div>

</div>
