@using A4CoreBlog.Data.Infrastructure

@model PaginatedList<PostListBasicViewModel>

<div class="jumbotron">
    <h4>My posts...</h4>
    <a asp-controller="Post" asp-action="Create" asp-area="@GlobalConstants.AdminArea" class="btn btn-danger">Create</a>
</div>

@await Component.InvokeAsync(nameof(PaginatedListControllsComponent), new
{
    @area = GlobalConstants.AdminArea,
    list = new BasePaginatedList
    {
        Action = "MyPosts",
        Controller = "Post",
        PageIndex = Model.PageIndex,
        TotalPages = Model.TotalPages
    }
})

<div class="container">
    @foreach (var post in Model)
    {
        <div class="jumbotron">
            <h4>@post.Title</h4>
            <p>@post.Summary</p>
            <a asp-controller="Post"
               asp-action="Edit"
               asp-area="@GlobalConstants.AdminArea"
               asp-route-id="@post.Id"
               class="btn btn-success">Edit</a>
        </div>
    }

    @await Component.InvokeAsync(nameof(PaginatedListControllsComponent), new
    {
        @area = GlobalConstants.AdminArea,
        list = new BasePaginatedList {
            Action = "MyPosts",
            Controller = "Post",
            PageIndex = Model.PageIndex,
            TotalPages = Model.TotalPages
        }
    })
</div>
